In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
#read
df = pd.read_csv("E-commerce Website Logs new.csv")
df.head()

C:\Users\LESAM\AppData\Local\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,2017-03-14 17:43:57.172,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.96,No,0,Credit Card
1,2017-03-14 17:43:57.172,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.94,No,0,Debit Card
2,2017-03-14 17:43:26.135,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.62,No,0,Cash
3,2017-03-14 17:43:26.135,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,9.575.775,No,0,Credit Card
4,2017-03-14 18:17:09.005,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.368,No,0,Cash

In [3]:
#start prep
df.drop(['network_protocol', 'ip', 'bytes'], axis=1, inplace=True)
df.head()

,accessed_date,duration_(secs),accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,2017-03-14 17:43:57.172,2533,Chrome,28,Female,CA,Normal,English,261.96,No,0,Credit Card
1,2017-03-14 17:43:57.172,4034,Mozilla Firefox,21,Male,AR,Normal,English,731.94,No,0,Debit Card
2,2017-03-14 17:43:26.135,1525,Mozilla Firefox,20,Male,PL,Normal,English,14.62,No,0,Cash
3,2017-03-14 17:43:26.135,4572,Mozilla Firefox,66,Female,IN,Normal,Spanish,9.575.775,No,0,Credit Card
4,2017-03-14 18:17:09.005,3652,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.368,No,0,Cash

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172838 entries, 0 to 172837
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   accessed_date    172838 non-null  object
 1   duration_(secs)  172838 non-null  int64
 2   accessed_Ffom    172838 non-null  object
 3   age              172838 non-null  object
 4   gender           172838 non-null  object
 5   country          172838 non-null  object
 6   membership       172838 non-null  object
 7   language         172838 non-null  object
 8   sales            172838 non-null  object
 9   returned         172838 non-null  object
 10  returned_amount  172838 non-null  object
 11  pay_method       172838 non-null  object
dtypes: int64(1), object(11)
memory usage: 15.8+ MB

In [5]:
df = df[df['age']!="--"] #remove non-integer values

In [6]:
#turn age into integer
df['age'] = df['age'].astype('int64')

In [7]:
df = df[df['age']!=0]

In [8]:
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])
df['returned'] = le.fit_transform(df['returned'])

In [9]:
df['membership'].value_counts()

Premium    54847
Normal     29867
Name: membership, dtype: int64

In [10]:
encoded_columns = ['accessed_Ffom', 'country', 'membership', 'language', 'pay_method']
ohe = pd.get_dummies(df[encoded_columns],prefix=encoded_columns, drop_first=True)
df_encoded = pd.concat([df, ohe], axis=1)
df_encoded = df_encoded.drop(encoded_columns,axis=1)
#df['accessed_Ffom'] = le.fit_transform(df['accessed_Ffom'])
#df['country'] = le.fit_transform(df['country'])
#df['membership'] = le.fit_transform(df['membership'])
#df['language'] = le.fit_transform(df['language'])
#df['pay_method'] = le.fit_transform(df['pay_method'])

In [11]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84714 entries, 0 to 99456
Data columns (total 73 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   accessed_date                  84714 non-null  object
 1   duration_(secs)                84714 non-null  int64
 2   age                            84714 non-null  int64
 3   gender                         84714 non-null  int32
 4   sales                          84714 non-null  object
 5   returned                       84714 non-null  int32
 6   returned_amount                84714 non-null  object
 7   accessed_Ffom_Chrome           84714 non-null  uint8
 8   accessed_Ffom_IOS App          84714 non-null  uint8
 9   accessed_Ffom_Microsoft Edge   84714 non-null  uint8
 10  accessed_Ffom_Mozilla Firefox  84714 non-null  uint8
 11  accessed_Ffom_Others           84714 non-null  uint8
 12  accessed_Ffom_SafFRi           84714 non-null  uint8
 13  accessed_Ffom_Safari           84714 non-null  uint8
 14  country_AR                     84714 non-null  uint8
 15  country_AT                     84714 non-null  uint8
 16  country_AU                     84714 non-null  uint8
 17  country_CA                     84714 non-null  uint8
 18  country_CH                     84714 non-null  uint8
 19  country_CN                     84714 non-null  uint8
 20  country_CO                     84714 non-null  uint8
 21  country_DE                     84714 non-null  uint8
 22  country_DK                     84714 non-null  uint8
 23  country_FI                     84714 non-null  uint8
 24  country_FR                     84714 non-null  uint8
 25  country_GB                     84714 non-null  uint8
 26  country_IE                     84714 non-null  uint8
 27  country_IN                     84714 non-null  uint8
 28  country_IT                     84714 non-null  uint8
 29  country_JP                     84714 non-null  uint8
 30  country_KR                     84714 non-null  uint8
 31  country_MX                     84714 non-null  uint8
 32  country_NO                     84714 non-null  uint8
 33  country_PE                     84714 non-null  uint8
 34  country_PL                     84714 non-null  uint8
 35  country_PR                     84714 non-null  uint8
 36  country_RU                     84714 non-null  uint8
 37  country_SE                     84714 non-null  uint8
 38  country_US                     84714 non-null  uint8
 39  country_ZA                     84714 non-null  uint8
 40  membership_Premium             84714 non-null  uint8
 41  language_Chinese               84714 non-null  uint8
 42  language_Dutch                 84714 non-null  uint8
 43  language_English               84714 non-null  uint8
 44  language_French                84714 non-null  uint8
 45  language_German                84714 non-null  uint8
 46  language_Italian               84714 non-null  uint8
 47  language_Japanese              84714 non-null  uint8
 48  language_Portuguese            84714 non-null  uint8
 49  language_Russian               84714 non-null  uint8
 50  language_Slovak                84714 non-null  uint8
 51  language_Spanish               84714 non-null  uint8
 52  language_Thai                  84714 non-null  uint8
 53  language_italian               84714 non-null  uint8
 54  language_macedonian            84714 non-null  uint8
 55  language_malay                 84714 non-null  uint8
 56  language_malayalam             84714 non-null  uint8
 57  language_marathi               84714 non-null  uint8
 58  language_mongolian             84714 non-null  uint8
 59  language_nepali                84714 non-null  uint8
 60  language_norwegian             84714 non-null  uint8
 61  language_persian               84714 non-null  uint8
 62  language_polish                84714 non-null  uint8
 63  language_romanian              84714 non-null  uint8
 64  language_serbian               84714 non-null  uint8
 65  language_slovene               84714 non-null  uint8
 66  language_swahili               84714 non-null  uint8
 67  language_swedish               84714 non-null  uint8
 68  language_tegulu                84714 non-null  uint8
 69  language_urdu                  84714 non-null  uint8
 70  pay_method_Credit Card         84714 non-null  uint8
 71  pay_method_Debit Card          84714 non-null  uint8
 72  pay_method_Others              84714 non-null  uint8
dtypes: int32(2), int64(2), object(3), uint8(66)
memory usage: 9.9+ MB

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84714 entries, 0 to 99456
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   accessed_date    84714 non-null  object
 1   duration_(secs)  84714 non-null  int64
 2   accessed_Ffom    84714 non-null  object
 3   age              84714 non-null  int64
 4   gender           84714 non-null  int32
 5   country          84714 non-null  object
 6   membership       84714 non-null  object
 7   language         84714 non-null  object
 8   sales            84714 non-null  object
 9   returned         84714 non-null  int32
 10  returned_amount  84714 non-null  object
 11  pay_method       84714 non-null  object
dtypes: int32(2), int64(2), object(8)
memory usage: 7.8+ MB